{% extends 'base.html' %}
{% load static %}
{% block content %}           

<section class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form action="your-login-handler.php" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="login-options">
            <a href="#">Forgot Password?</a>
            <a href="#">Register New User</a>
        </div>
    </div>
</section>
              
{% endblock %} 