
{% extends 'base.html' %}
{% load static %}

{% block content %} 
  <!-- Sidebar -->
  <div class="sidebar">
  <a href="{% url 'health' %}" class="sidebar-link" id="health-link">Dashboard</a>
  <a href="{% url 'overall/metrics' %}" class="sidebar-link" id="user-data-link">Overall Metrics</a>
  <a href="{% url 'graph' %}" class="sidebar-link" id="user-metrics">User Engagement Metrics</a>
  <a href="{% url 'graph' %}" class="sidebar-link" id="user-activity">All Session Data</a>
  <a href="#change-password" class="sidebar-link" id="change-password-link">Change Password</a>
  <a href="#logout">Logout</a>
  </div>

  
  <script>
    // Get all sidebar links
    const sidebarLinks = document.querySelectorAll('.sidebar-link');

    // Check for an existing active link in local storage (optional persistence)
    const activeLinkId = localStorage.getItem('activeLinkId');

    // Set the active link based on local storage if available
    if (activeLinkId) {
        document.getElementById(activeLinkId).classList.add('active');
    } else {
        // Set the default active link (e.g., first link)
        sidebarLinks[0].classList.add('active');
    }

    // Function to handle click events
    sidebarLinks.forEach(link => {
        link.addEventListener('click', function () {
            // Remove the 'active' class from all links
            sidebarLinks.forEach(link => link.classList.remove('active'));

            // Add the 'active' class to the clicked link
            this.classList.add('active');

            // Optionally save the active link to local storage
            localStorage.setItem('activeLinkId', this.id);
        });
    });
</script>

<div class="machine-container" id="machine-container">
  {% block health %} 

  
  {% endblock %}
    

</div>

<section id="overall_metrics"> 
  {% block overall_metrics %} 

  
   {% endblock %} 
  

</section>

<section id="user-activity"> 
  
  

</section>
  
<section id="user-data-link">
  <div class="graph">
    {% block graph %} 

    {% endblock %}

  </div>
</section>




  {% endblock %} 




