{% extends 'base.html' %}
{% load static %}
{% block content %}           

<section class="login-container">
    <div class="login-box">
        <h2>Enter your registered Email</h2>
        <form action="your-login-handler.php" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <button class="btn-ok1">Confirm</button>
            <button class="btn-ok1">Back</button>
        </form>
        
    </div>
</section>
              
{% endblock %} 