.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df5e82;
    height: 120px;
    
  }

  /* Styling for the image */
  .header-image {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    
  }

  /* Styling for the heading */
  .header-title {
    font-size: 24px;
    color: white;
    margin: 0;
    
    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    overflow: hidden;
  }

  /* SIDEBAR CONTAINER   */
  .sidebar {
    height: 100vh;
    width: 200px;
    background-color: white; /* Cement background color */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: width 0.3s ease;
    margin-top: 120px;
  }

  /* Sidebar links */
  .sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
  }

  .sidebar a.active {
    background-color:rgb(159, 204, 205);
    color: white;
}

  /* Hover effect for links */
  .sidebar a:hover {
    background-color: #df5e82;
    color: white;
  }

  /* Main content section */
  .main-content {
    margin-left: 250px; /* Sidebar width */
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
  }


  /* -----------*/ 
  /* LOGIN PAGE */
  /* ----------- */ 

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    padding-top: 100px;
    padding-bottom: 200px;
}

.login-box {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    background-color: #df5e82;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #434190;
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login-options a {
    color: #df5e82;
    text-decoration: none;
}

.login-options a:hover {
    text-decoration: underline;
}

/* --------------------*/ 
/* HEALTH STATUS PAGE */
/* ------------------- */
.main {
  flex: 1;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.dashboard-card {
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card p {
  font-size: 18px;
  margin: 0;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: red;
  font-weight: bold;
}


/* --------------------*/ 
/* BAR GRAPH PAGE */
/* ------------------- */
.graph {
  flex: 1;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  height: 40%;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
}


/* --------------------*/ 
/* RESET PASSWORD PAGE */
/* ------------------- */ 

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.reset-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding-top: 40px;
  margin-top: 150px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.btn-ok {
  background-color: #df5e82;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-ok:hover {
  background-color: #434190;
}

  /* Responsive Design for header */

  /* Medium screens (tablets, small laptops) */
  @media (min-width: 768px) {
    .header {
      padding: 30px;
      
    }

    .header-image {
      max-width: 200px;
      margin-right: 20px;
    }

    .header-title {
      font-size: 28px;
    }
  }

  /* Large screens (laptops, desktops) */
  @media (min-width: 992px) {
    .header {
    padding-left: 40px;

    }

    .header-image {
      max-width: 250px;
      margin-right: 40px;
    }

    .header-title {
      font-size: 32px;
    }
  }

  /* Small screens (mobile phones) */
  @media (min-width: 300px) {
    .header {
      flex-direction: column;
      align-items: center;
      
    }

    .header-image {
      margin-left: 40px;
      margin-bottom: 10px;
    }

    .header-title {
      font-size: 20px;
      padding-left: 50px;
    }
  }

  @media (max-width: 768px) {
    
    .sidebar {
      width: 100px;
    }

    .sidebar a {
      font-size: 12px;
      padding: 10px;
    }

    .main-content {
      margin-left: 60px;
    }
  }

  
 /* Responsive Design for Sidebar */
  @media (max-width: 480px) {
    .sidebar {
      width: 90px;
    }

    .sidebar a {
      font-size: 12px;
      padding: 8px;
    }

    .main-content {
      margin-left: 40px;
    }
  }

  /* Responsive Design for LOGIN PAGE and RESET PASSWORD*/
  @media (max-width: 600px) {
    .login-box {
        padding: 15px;
        width: 90%;
    }

    .btn-login {
        padding: 8px;
        font-size: 14px;
    }

    .reset-box {
      padding: 15px;
      width: 90%;
  }

  .btn-ok {
      padding: 10px 15px;
      font-size: 14px;
  }

  .dashboard-card p {
    font-size: 14px;
}

.dashboard-card {
    padding: 10px;
}

.main {
    padding-left: 100px;
    height: auto;
}
}

@media (min-width: 601px) and (max-width: 1024px) {
  .main {
      padding-left: 210px;
  }

  .dashboard-card p {
      font-size: 16px;
  }

  .dashboard-card {
      padding: 15px;
  }
}

/* For large devices (laptops/desktops, over 1024px wide) */
@media (min-width: 1025px) {
  .main {
      padding-left: 200px;
      height: 40%;
  }

  .dashboard-card p {
      font-size: 18px;
  }
}