* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;  /* Ensure the body takes up the full height */
  overflow-x: hidden;
}

.header {
    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #df5e82;
  color: white;
  display: flex;               /* Use flexbox for alignment */
  align-items: center;         /* Center items vertically */
  padding: 0 20px;            /* Horizontal padding */
  z-index: 1000;
  
  height: 120px;
  width: 100%;
       
  }

  /* Styling for the image */
  .header-image {
    width: 70px;
    height: 70px; 
    
  }

  /* Styling for the heading */
  .header-title {
    font-size: 24px;
    color: white;
    margin: 0;   
  }

  /* SIDEBAR CONTAINER   */
  .sidebar {
   
    height: 100vh;
    width: 200px;
    background-color: white; /* Cement background color */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: width 0.3s ease;
    margin-top: 120px;
    z-index: 1000; /* Ensure sidebar is on top */
    
  }

  /* ---------------*/
  /* Sidebar links */
  /* --------------*/

  .sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
  }

  .sidebar a.active {
    background-color: #df5e82;
    color: white;
}

  /* Hover effect for links */
  .sidebar a:hover {
    background-color:rgb(65, 97, 167);
    color: white;
  }

  /* Main content section */
  .main-content {
    margin-left: 250px; /* Sidebar width */
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
  }

  .status-card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.status-card.active {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
}

.status-card.error {
    background-color: #f8d7da;
    border-left: 5px solid #dc3545;
}

.status-card:hover {
    transform: scale(1.05);
}


  /* -----------*/ 
  /* LOGIN PAGE */
  /* ----------- */ 

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    padding-top: 100px;
    padding-bottom: 200px;
}

.login-box {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    background-color: #df5e82;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #434190;
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login-options a {
    color: #df5e82;
    text-decoration: none;
}

.login-options a:hover {
    text-decoration: underline;
}

/* --------------------*/ 
/* HEALTH STATUS PAGE */
/* ------------------- */
.machine-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 200px;
  margin-top: 130px;
  height: auto; 
  width:auto;
  overflow-y: auto;
 
}

.machine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  max-width: 300px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.machine span {
  font-size: 18px;
  font-weight:500;
  color:#484848;
}

/* -----------------*/
/* Overall Metrics */
/* ----------------*/

.content {
  margin-left: 100px;
  padding: 20px;
  flex-grow: 1;
  height: 450px;
  
}

.content, h2 {
  font-size: 18px;
  color:#333;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 80px;
  
}

canvas {
  max-width: 100%; /* Make canvas responsive */
  height: auto;    /* Maintain aspect ratio */
}



/* --------------------*/ 
/* BAR GRAPH PAGE */
/* ------------------- */
.chart-container {
  width: 170%;
  max-width: 1000px;
  aspect-ratio: 2; /* To keep it responsive */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 280px;
  margin-top: 150px;
}

.canvas{
  width: 200%;
  height: 100%;
}


/* --------------------*/ 
/* ALL SESSION DATA */
/* ------------------- */

.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto; /* Allows scrolling for smaller screens */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 200px;
  margin-top: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4c89af;
  color: white;
}

td {
  background-color: #f9f9f9;
}

/* Watch CPR Animation Button */
.watch-btn {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.watch-btn:hover {
  background-color: #45a049;
}



/* --------------------*/ 
/* RESET PASSWORD PAGE */
/* ------------------- */ 

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.reset-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding-top: 40px;
  margin-top: 150px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.btn-ok {
  background-color: #df5e82;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-ok:hover {
  background-color: #434190;
}

.btn-ok1 {
  background-color: #df5e82;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 60px;
}

.btn-ok1:hover {
  background-color: #434190;
}

  /* Responsive Design for header */

  /* Medium screens (tablets, small laptops) */
  @media (min-width: 768px) {
   
    .header {
      padding: 30px;
      
    }

    .header-image {
      max-width: 200px;
      margin-right: 20px;
    }

    .header-title {
      font-size: 28px;
    }
  }

  /* Large screens (laptops, desktops) */
  @media (min-width: 992px) {


    .header {
    padding-left: 40px;

    }

    .header-image {
      max-width: 250px;
      margin-right: 40px;
    }

    .header-title {
      font-size: 32px;
    }
  }

  /* Small screens (mobile phones) */
  @media (min-width: 300px) {


    .header {
      flex-direction: column;
      align-items: center;
     
    
      
    }

    .header-image {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .header-title {
      font-size: 20px;
      padding-left: 20px;
    }
  }

  @media (max-width: 768px) {
    
    
    .sidebar {
      width: 100px;
    }

    .sidebar a {
      font-size: 12px;
      padding: 10px;
    }

    .main-content {
      margin-left: 60px;
    }
  }

  
 /* Responsive Design for Sidebar */
  @media (max-width: 480px) {


    .sidebar {
      width: 90px;
    }

    .sidebar a {
      font-size: 12px;
      padding: 8px;
    }

    .main-content {
      margin-left: 40px;
    }
  }

  /* Responsive Design for LOGIN PAGE and RESET PASSWORD*/
  @media (max-width: 600px) {
    .login-box {
        padding: 15px;
        width: 90%;
    }

    .btn-login {
        padding: 8px;
        font-size: 14px;
    }

    .reset-box {
      padding: 15px;
      width: 90%;
  }

  .btn-ok {
      padding: 10px 15px;
      font-size: 14px;
  }

  .btn-ok1 {
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 50px;
}

  .dashboard-card p {
    font-size: 14px;
}

.dashboard-card {
    padding: 10px;
}

.main {
    padding-left: 100px;
    height: auto;
}
}

@media (min-width: 601px) and (max-width: 1024px) {
  .main {
      padding-left: 210px;
  }

  .dashboard-card p {
      font-size: 16px;
  }

  .dashboard-card {
      padding: 15px;
  }
}

/* For large devices (laptops/desktops, over 1024px wide) */
@media (min-width: 1025px) {
  .main {
      padding-left: 200px;
      height: 40%;
  }

  .dashboard-card p {
      font-size: 18px;
  }
}

/* ------------------------------------------------------*/ 
/* Health Status Responsive design and All session Data */
/* ----------------------------------------------------- */

@media (max-width: 768px) {

  .machine-container{
    height: 700px; /* Reduce height for smaller screens */
        margin-left: 90px;
        margin-top: 150px;
        
      
  }
  .machine {
      flex: 1 1 100%;
      max-width: fit-content;
      
  }

  th, td {
    padding: 8px;
    font-size: 14px;
}

.watch-btn {
    padding: 6px 10px;
}

  
  
}



