{% extends 'registration/home.html' %}
{% load static %}

{% block session %} 


<div class="table-container">

{% if messages %}
<h2>{{messages}}</h2>
       
 {% else %}

    <select id="searchInput" onchange="redirectToMetrics(this.value)">
        {% for machine in machines %}
        <option value="{{ machine.id }}" 
            {% if machine.id == default_machine_id %}selected{% endif %}> <!-- Set selected if machine_id matches -->
            {{ machine }}
        </option>
    {% endfor %}
    </select>

    <script>
        function redirectToMetrics(machineId) {
            if (machineId) {
                // Redirect to the 'user/engagement/metrics' URL with the selected machine ID
                window.location.href = `{% url 'session/data' %}?machine_id=${machineId}`;
            }
        }
    </script>

    
    <table>
        <thead>
            <tr>
                <th>Time Engaged</th>
                <th>Distance While Active</th>
                <th>Hand Position</th>
                <th>CPR Rate</th>
                <th>Compression</th>
                <th>Recoil</th>
                <th>Watched Animation</th>
                <th>Sessions played</th>
                <th>Survey Q1</th>
                <th>Survey Q2</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example Row 1 -->
             {% for data in sessionData %}
            <tr>
                <td>{{data.time_engaged}}</td>
                <td>{{data.distance_while_active}}</td>
                <td>{{data.hand_position}}</td>  
                <td>{{data.rate }}</td>
                <td>{{data.compression}}</td>
                <td>{{data.recoil}}</td>
                <td>{{data.watched_animation}}</td>
                <td>{{data.sessions_played}}</td>
                <td>{{data.survey.question_1_response}}</td>
                <td>{{data.survey.question_2_response}}</td>     
            </tr>
            {% endfor %}


            
           
        </tbody>
    </table>
</div>

<!-- JavaScript for search functionality -->
<script>
    function searchTable() {
        // Get search input
        let input = document.getElementById("searchInput").value.toLowerCase();
        let table = document.getElementById("myTable");
        let tr = table.getElementsByTagName("tr");
    
        // Loop through all table rows
        for (let i = 1; i < tr.length; i++) {
            let row = tr[i];
            let textContent = row.textContent.toLowerCase();
            
            // If row matches the search query, show it. Otherwise, hide it.
            if (textContent.includes(input)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
    </script>

{% endif %}


{% endblock %} 