
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Heart Hub Monitoring System</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/hearthub.css' %}" />
</head>
<body>

  <header class="header">
    <img src="{% static 'images/02.png' %}" alt="Heart Hub Logo" class="header-image">
    <h1 class="header-title">Heart Hub Monitoring System</h1>
  </header>
  
  
    {% block content %} 

    {% endblock %} 

 

</body>
</html>
