{% extends 'registration/home.html' %}
{% load static %}
{% block password %}           

<section class="change-container">
    <div class="change-box">
        
        <form action="your-login-handler.php" method="post">

            <div class="input-group">
                <label for="password">Current Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group">
                <label for="password">Re-Enter Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn-login">Confirm</button>
            
        </form>
        
    </div>
</section>   
{% endblock %} 