{% extends 'registration/home.html' %}
{% load static %}

{% block health %}

<div class="machine-container" id="machine-container">
    {{ redirect_to_login_immediately }}
{% if messages %}
     
      <h2>{{messages}}</h2>  
     


    {% else %}

        {% for machine in data %}
            <!-- Example for existing machines -->
            <div class="machine" data-status='{{ machine.status }}'>
                 <div class="status-circle"></div>
                 <span>{{machine.machine_name}}</span>
    
            </div>
        {% endfor %}  

    {% endif %}  

        </div>

    <script src="{% static 'js/health.js' %}"></script>

{% endblock %}
