
{% extends 'registration/base.html' %}
{% load static %}

{% block content %} 
  <!-- Sidebar -->
  <div class="sidebar">

  {{ redirect_to_login_immediately }}

  <a href="{% url 'home' %}" class="sidebar-link" id="health-link">Dashboard</a>
  <a href="{% url 'overall/metrics' %}" class="sidebar-link" id="user-data-link">Overall Metrics</a>
  <a href="{% url 'user/engagement/metrics' %}" class="sidebar-link {% if request.resolver_match.url_name == 'user/engagement/metrics' %}active{% endif %}" id="user-metrics">User Engagement Metrics</a>
  <a href="{% url 'session/data' %}" class="sidebar-link" id="session-data">All Session Data</a>
  <a href="{% url 'change/password' %}" class="sidebar-link" id="change-password-link">Change Password</a>
  <a href="{% url 'logout' %}">Logout</a>
  </div>

  
  <script>
    // Get all sidebar links
    const sidebarLinks = document.querySelectorAll('.sidebar-link');

    // Function to apply the initial active class based on Django's server-side rendering
    function setInitialActiveClass() {
        const activeLinkId = localStorage.getItem('activeLinkId');

        // Check if there's an active link set by Django
        const djangoActiveLink = Array.from(sidebarLinks).find(link => link.classList.contains('active'));
        
        // If no active link is present from Django but local storage has one, apply it
        if (!djangoActiveLink && activeLinkId) {
            const storedLink = document.getElementById(activeLinkId);
            if (storedLink) storedLink.classList.add('active');
        }
    }

    // Initial setup: Apply active class from Django or local storage
    setInitialActiveClass();

    // Add click event listeners to each sidebar link
    sidebarLinks.forEach(link => {
        link.addEventListener('click', function () {
            // Remove the 'active' class from all links
            sidebarLinks.forEach(link => link.classList.remove('active'));

            // Add the 'active' class to the clicked link
            this.classList.add('active');

            // Update the active link ID in local storage
            localStorage.setItem('activeLinkId', this.id);
        });
    });
</script>



  {% block health %} 

  
  {% endblock %}
    



<section id="overall_metrics"> 
  {% block overall_metrics %} 

  
   {% endblock %} 
  

</section>

<section id="user-metrics"> 
  {% block graph %} 

  
  {% endblock %} 
  

</section>
  
<section id="session-data">

  {% block session %} 

  {% endblock %}

</section>

<section id="change-password-link">

  {% block password %} 

  {% endblock %}

</section>

  {% endblock %} 




