{% extends 'registration/base.html' %}
{% load static %}
{% block content %}           

<section class="login-container">
    <div class="login-box">

        {% for message in messages %}
          <div class="message {{ message.tags }}">
             <h2>{{ message }}</h2>
          </div>
        {% endfor %}
        
        <form action="" method="post">

            <div class="heading">Login Here </div>

                {% csrf_token %}

                {{ form }} 

            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="login-options">
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
            <a href=http://127.0.0.1:8000/admin>Register New User</a>
        </div>
    </div>
</section>
              
{% endblock %} 